/* general text formatting */
h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
}
form {
    width:45em;
}
fieldset {
    background-color:#cbe5ef;
}
table {
    border-collapse: collapse;
}
#tableField {
    background-color:white;
    margin-top:1em;
}
caption {
    background-color:#80adbf;
}
#headings td {
    background-color:#cbe5ef;
    border-bottom:solid;
    border-bottom-color:#80adbf;
    text-align:center;
}
tr.content td  {
   border-bottom:solid;
   border-bottom-color:#80adbf;
}
tr.content td.small {
    padding-right:1.6em;
}
