/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: Georgia, Cambria, "Times New Roman", serif;
}
body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 100%;
}
table {
    margin-left:auto;
    margin-right:auto;
}
#title {
    text-align:center;
    background-color:#5e7762
}
#months {
    
    
}
.date {
    
}
tr#days td {
    font-size:0.7em;
    text-align:center;
    color:gray;
    background-color:#b7b7b7;
    border:outset;
}
tr.date td {
    text-align:center;
    background-color:#b7b7b7;
    padding:0.6em;
    border:outset;
}
form {
    margin-left:auto;
    margin-right:auto;
    margin-top:3em;
    background-color:#dbbd78;
    width:30em;
}
form div {
    margin:0.7em;
    vertical-align:center;
}